
  <p>"Who bought <%= @product.title %>"</p>

<%
  latest_order = @product.orders.sort_by(&:updated_at).last
  @product.orders.each do |order| %>
  
<div class="summary">
Order <%= order.id %>
      
        <p>"Shipped to <%= order.address %></p>

        <table> 
          <tr>
            <th> Product</th>
            <th> Quantity</th>
            <th> Total Price</th>
          </tr>
		  
         <% order.line_items.each do |item| %>
           <tr> 
              <td> <%= item.product.title %> </td>
              <td> <%= item.quantity %> </td>
              <td> <%= number_to_currency item.total_price %> </td>
            </tr>
          <% end %>
		  
          <tr>
            <th colspan=2 > total</th>
            <th> <%= number_to_currency order.line_items.map(&:total_price).sum %>
	</th>
			</tr>
</table>
        <p> Paid by <%= order.name %> (<%= order.email %>) using <%= order.pay_type %></p>
</div>
<% end %>